* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body { 
    background-color:#e5dfdf94;
    margin: 0 auto;
    font-size: 16px;
}

.wrap {
    display: flex;
    flex-direction: column;
    max-width: 1024px;    
    margin: 0 auto;    
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #1B8E92;
}

main .container {
    background-color: #ffffff;
}

.its-me {
    display: flex;    
}

.logo img {
    border: 5px solid #1B8E92;
    border-radius: 35px 0;
}

section {
    padding: 16px;   
}

hr {
    width: 50%;
    height: 4px;
    margin-bottom: 15px;
    background-color: #1B8E92;
}

h3 {   
    font-size: 20px;
}

.my-skills {
    list-style: disc;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.left {
    display: flex;
    flex-direction: column;
    width: 35%;
}

.right {
    display: flex;
    flex-direction: column;
    width: 65%;
}

h3 {
    color: #1B8E92;
    text-decoration: dotted;
}

span {
    font-weight: 600;
}

.nav {
    display: flex;
    align-items: center;
    height: 65px;
    text-align: center;
    margin: 0 auto;
    font-size: 22px;
    font-weight: 400;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    margin-right: 25px;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: azure;
}

pre {
    background-color: #f7f1f1;
    color: cadetblue;
    padding: 15px;
    border-radius: 5px;
    overflow: auto;
    max-width: 100%;
}

.footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.link-github {
    display: flex;
    align-items: center;    
}